# Document retrieval from wikipedia data

In [1]:
import pandas as pd
import numpy as np

# Load some text data - from wikipedia, pages on people

In [2]:
people = pd.read_csv('people_wiki.csv')

In [3]:
people.head()

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [4]:
len(people)

59071

# Explore the dataset and checkout the text it contains

## Exploring the entry for president Obama

In [5]:
obama = people[people['name'] == 'Barack Obama']

In [6]:
obama

,URI,name,text
35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...

In [7]:
obama['text']

35817    barack hussein obama ii brk husen bm born augu...
Name: text, dtype: object

## Exploring the other entries

In [8]:
clooney = people[people['name'] == 'George Clooney']
clooney['text']

38514    george timothy clooney born may 6 1961 is an a...
Name: text, dtype: object

In [13]:
John = people[people['name'] == 'Elton John']
John['text']

19923    sir elton hercules john cbe born reginald kenn...
Name: text, dtype: object

# Get the word counts for Obama article

In [63]:
from sklearn.feature_extraction.text import CountVectorizer

In [64]:
vectorizer = CountVectorizer()
analyzer = vectorizer.build_analyzer()

In [65]:
def count_words(doc):
    dic = {}
    if analyzer(doc):
        M = count_vectorizer.fit_transform([doc]).toarray()[0]
        for word,index in count_vectorizer.vocabulary_.items():
            dic[word] = M[index]
    return dic

In [66]:
obama['word_count'] = obama['text'].apply(count_words)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [68]:
obama.head()

,URI,name,text,word_count
35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...,"{'barack': 1, 'hussein': 1, 'obama': 9, 'ii': ..."

# Sort the word counts for the Obama article

In [77]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
x_obama = vectorizer.fit_transform(obama['text'])

In [78]:
print(vectorizer.get_feature_names())
print(x_obama.toarray())

['13th', '1961', '1992', '1996', '1997', '20', '2000in', '2004', '2007', '2008', '2009', '2010', '2011', '2012', '2012obama', '2013', '44th', '63', 'act', 'address', 'administration', 'affordable', 'afghanistan', 'african', 'after', 'against', 'american', 'americans', 'and', 'arms', 'as', 'ask', 'at', 'attention', 'attorney', 'august', 'barack', 'before', 'began', 'bin', 'bm', 'born', 'briefs', 'brk', 'budget', 'by', 'californias', 'called', 'campaign', 'care', 'chicago', 'civil', 'clinton', 'close', 'columbia', 'combat', 'community', 'constitutional', 'consumer', 'continued', 'control', 'convention', 'court', 'creation', 'cuba', 'current', 'death', 'debate', 'debt', 'defeated', 'defeating', 'defense', 'degree', 'delegates', 'democratic', 'district', 'doddfrank', 'domestic', 'dont', 'down', 'during', 'earning', 'economic', 'election', 'elementary', 'ended', 'ending', 'equality', 'federal', 'filed', 'first', 'for', 'foreign', 'form', 'from', 'full', 'gains', 'general', 'graduate', 'great', 'gun', 'harvard', 'has', 'hawaii', 'he', 'hillary', 'his', 'hold', 'honolulu', 'hook', 'house', 'husen', 'hussein', 'ii', 'illinois', 'in', 'inaugurated', 'included', 'increased', 'initiatives', 'insurance', 'into', 'involvement', 'iraq', 'is', 'islamic', 'january', 'job', 'john', 'july', 'keynote', 'laden', 'laureateduring', 'law', 'legislation', 'lengthy', 'levels', 'lgbt', 'libya', 'limit', 'lost', 'made', 'major', 'march', 'marriage', 'mccain', 'military', 'mitt', 'months', 'named', 'national', 'nations', 'new', 'nine', 'nobel', 'nomination', 'nominee', 'normalize', 'not', 'november', 'obama', 'obamacare', 'of', 'office', 'often', 'on', 'operation', 'operations', 'or', 'ordered', 'organizer', 'osama', 'other', 'over', 'party', 'patient', 'peace', 'policies', 'policy', 'president', 'presidential', 'primaries', 'primary', 'prize', 'process', 'promoted', 'proposition', 'protection', 'raise', 'reauthorization', 'receive', 'received', 'recession', 'recovery', 'reelected', 'referred', 'reform', 'regained', 'reinvestment', 'related', 'relations', 'relief', 'repeal', 'represent', 'representatives', 'representing', 'republican', 'republicans', 'response', 'resulted', 'review', 'rights', 'rodham', 'romney', 'running', 'russia', 'sandy', 'school', 'seats', 'second', 'senate', 'served', 'shooting', 'signed', 'sought', 'spending', 'start', 'state', 'states', 'stimulus', 'street', 'strike', 'sufficient', 'supreme', 'sworn', 'taught', 'tax', 'taxpayer', 'tell', 'term', 'terms', 'that', 'the', 'then', 'three', 'to', 'total', 'treaty', 'troop', 'two', 'unconstitutional', 'unemployment', 'united', 'university', 'unsuccessfully', 'urged', 'us', 'victory', 'wall', 'war', 'was', 'where', 'whether', 'which', 'while', 'with', 'withdrawal', 'won', 'worked', 'years']
[[ 1  1  1  1  1  2  1  3  1  1  3  2  3  1  1  1  1  1  8  1  1  1  2  1
   4  1  3  1 21  1  6  1  2  1  1  1  1  1  1  1  1  2  1  1  1  1  1  1
   3  1  2  1  1  1  1  1  1  1  1  1  4  1  1  1  1  1  1  1  1  1  1  1
   1  1  4  1  1  2  2  1  2  1  1  3  1  1  1  1  1  1  3  4  2  1  3  1
   1  1  1  1  1  2  4  1  7  1 11  1  1  1  2  1  1  1  2 30  1  1  1  1
   1  1  3  4  2  1  3  1  1  1  1  1  1  6  1  1  1  1  1  1  1  1  1  1
   1  1  4  1  1  1  2  1  1  1  1  1  2  1  1  2  9  1 18  2  1  2  1  1
   1  3  1  1  1  1  3  1  1  1  2  4  2  1  2  1  1  1  1  2  1  1  1  1
   1  1  1  1  1  1  1  1  1  2  1  1  2  1  2  1  3  1  1  1  1  1  1  1
   1  3  1  2  3  2  1  3  1  1  1  1  3  1  1  1  1  1  1  1  1  1  1  3
   1  1 40  1  1 14  1  1  1  1  1  1  3  2  1  1  6  1  1  1  5  1  1  1
   1  3  1  1  1  1]]

In [79]:
word_obama = vectorizer.get_feature_names()

In [80]:
word_count = x_obama.toarray().tolist()
word_count

[[1,
  1,
  1,
  1,
  1,
  2,
  1,
  3,
  1,
  1,
  3,
  2,
  3,
  1,
  1,
  1,
  1,
  1,
  8,
  1,
  1,
  1,
  2,
  1,
  4,
  1,
  3,
  1,
  21,
  1,
  6,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  3,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4,
  1,
  1,
  2,
  2,
  1,
  2,
  1,
  1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  3,
  4,
  2,
  1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  4,
  1,
  7,
  1,
  11,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  2,
  30,
  1,
  1,
  1,
  1,
  1,
  1,
  3,
  4,
  2,
  1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  6,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  2,
  9,
  1,
  18,
  2,
  1,
  2,
  1,
  1,
  1,
  3,
  1,
  1,
  1,
  1,
  3,
  1,
  1,
  1,
  2,
  4,
  2,
  1,
  2,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  2,
  1,
  2,
  1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3,
  1,
  2,
  3,
  2,
  1,
  3,
  1,
  1,
  1,
  1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3,
  1,
  1,
  40,
  1,
  1,
  14,
  1,
  1,
  1,
  1,
  1,
  1,
  3,
  2,
  1,
  1,
  6,
  1,
  1,
  1,
  5,
  1,
  1,
  1,
  1,
  3,
  1,
  1,
  1,
  1]]

In [81]:
word_count_flat = [item for sublist in word_count for item in sublist]
word_count_flat

[1,
 1,
 1,
 1,
 1,
 2,
 1,
 3,
 1,
 1,
 3,
 2,
 3,
 1,
 1,
 1,
 1,
 1,
 8,
 1,
 1,
 1,
 2,
 1,
 4,
 1,
 3,
 1,
 21,
 1,
 6,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 2,
 2,
 1,
 2,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 4,
 2,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 4,
 1,
 7,
 1,
 11,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 30,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 4,
 2,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 6,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 9,
 1,
 18,
 2,
 1,
 2,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 2,
 4,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 2,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 2,
 3,
 2,
 1,
 3,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 40,
 1,
 1,
 14,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 6,
 1,
 1,
 1,
 5,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1]

In [90]:
word_count_obama = pd.DataFrame({
    'word_obama':word_obama,
    'word_count':word_count_flat
})
word_count_obama.sort_values(by='word_count', ascending = False)

      word_obama  word_count
242          the          40
115           in          30
28           and          21
162           of          18
245           to          14
106          his          11
160        obama           9
18           act           8
104           he           7
30            as           6
256           us           6
133          law           6
260          was           5
123         iraq           4
24         after           4
74    democratic           4
179    president           4
91           for           4
102          has           4
146     military           4
60       control           4
223       signed           3
252       united           3
208     response           3
83      election           3
122  involvement           3
239         term           3
126      january           3
26      american           3
90         first           3
..           ...         ...
120    insurance           1
118    increased           1
76     doddfrank           1
117     included           1
79          down           1
81       earning           1
82      economic           1
84    elementary           1
85         ended           1
86        ending           1
87      equality           1
88       federal           1
89         filed           1
93          form           1
95          full           1
96         gains           1
97       general           1
98      graduate           1
99         great           1
100          gun           1
103       hawaii           1
105      hillary           1
107         hold           1
108     honolulu           1
109         hook           1
111        husen           1
112      hussein           1
113           ii           1
116  inaugurated           1
269        years           1

[270 rows x 2 columns]

# Compute TF-IDF for the corpus

In [104]:
from sklearn.feature_extraction.text import TfidfVectorizer

vect = TfidfVectorizer()
tfidf_matrix = vect.fit_transform(people['text'])

In [105]:
feature_names = vect.get_feature_names()

In [122]:
doc = 35817
feature_index = tfidf_matrix[doc,:].nonzero()[1]
tfidf_scores = zip(feature_index, [tfidf_matrix[doc, x] for x in feature_index])
zip_tfidf = [(feature_names[i], s) for (i, s) in tfidf_scores]

In [123]:
word_O=[]
iftdf_O=[]

In [124]:
for w, s in zip_tfidf:
    print (w, s)
    word_O.append(w)
    iftdf_O.append(s)

born 0.017709931271046624
is 0.014350365063062639
with 0.02518812459925273
the 0.2793227400023615
and 0.14673880270062417
in 0.20967299876631698
his 0.09697568415459205
for 0.029964410726194306
he 0.05930502949224121
was 0.03768254961844391
at 0.016971534950574383
of 0.1262048162788276
to 0.10234195997379708
by 0.009597572040438845
as 0.047221719116605276
during 0.032362102172086446
first 0.035517610776050694
against 0.021001902062722264
other 0.017053337660265806
before 0.017433021692964398
continued 0.02597680547563224
2007 0.017372040001768754
2008 0.01752122556256475
from 0.02710027260881693
2009 0.053716110129215185
2013 0.020629112598581526
district 0.026352926305256295
2011 0.0566046837038299
has 0.03989687916800934
sandy 0.04531093181008557
university 0.025797309845256983
chicago 0.0548648391973696
after 0.05430461125327095
full 0.02794850759724801
national 0.030528412104160435
worked 0.017832308630830872
on 0.0165399428357477
that 0.011600429362851402
current 0.026746457660782343
administration 0.029988224032272276
united 0.05378911724218047
states 0.05916108985966405
years 0.014490176160134262
where 0.014586447600086849
won 0.016643077961069105
2010 0.036208432821067116
or 0.020338172922802798
while 0.019805133007058398
which 0.012340701548516048
called 0.021494206403410984
january 0.06043896784624722
served 0.03541746726645982
into 0.018189015148892065
new 0.01317718730614831
start 0.029890079982958645
ending 0.038721132551457545
total 0.029858712637936703
american 0.04456160767469354
us 0.12283397315748205
three 0.017396683956700423
two 0.014655274648249124
close 0.0317075550519357
2004 0.056353284811914046
1996 0.021894640640149326
second 0.03731865208110925
school 0.046560048182063274
ended 0.030321246776016168
began 0.019043559436607946
not 0.018070004724243933
review 0.02951670101248744
nomination 0.03329935229449533
march 0.020649169658718807
house 0.04643816265096817
over 0.017370469932596208
major 0.021352085989831376
tell 0.040514185998517596
john 0.020885795895361572
november 0.04151085000455398
nine 0.02975927370928068
received 0.017732392412269083
often 0.02696839707953239
prize 0.026149442540259183
2012 0.0195067923551467
then 0.01697328837386998
1997 0.021852752342990073
taught 0.026869791956132195
harvard 0.060279410221605254
street 0.029673411380381636
foreign 0.058518515370798094
lost 0.02605441812640057
death 0.02902206618575324
august 0.020947537066985555
named 0.021155875308720613
20 0.04806514415164882
civil 0.03019203216982337
1992 0.02289189867875382
seats 0.041877055065189774
party 0.07025335421913445
president 0.07838762808221296
election 0.07479547131181367
running 0.030381700480576222
graduate 0.025659251184685417
relations 0.03103909959743396
nations 0.030452897768706143
federal 0.028547184703298367
democratic 0.11457527543739672
campaign 0.08432957751302084
general 0.02248728710913933
policy 0.05652015236964582
economic 0.0298150337512502
july 0.020546980888617943
great 0.02630949296359495
attention 0.030906937432353912
degree 0.02109048938725955
defense 0.033470484407228135
defeating 0.03689864025114098
care 0.03432379932795829
made 0.017594328682917024
months 0.02822531330020501
hold 0.0359160622939971
down 0.0275618502261183
african 0.03199054994063867
form 0.029558547468916622
creation 0.03515436452758149
domestic 0.07655771702893438
war 0.026599705713814686
arms 0.04209027344177608
1961 0.03016581962187603
job 0.03104651580552264
convention 0.037813869774262744
protection 0.07468253999393737
operation 0.037405539372242065
office 0.05060632290852004
russia 0.035081250149998515
signed 0.0736804977619208
terms 0.033678292199073284
dont 0.07177263687921645
law 0.14468744228550123
military 0.11949751478498162
operations 0.03359228822633021
combat 0.041403493331669206
hawaii 0.040528597477852646
state 0.018915076447791442
court 0.027204039881390224
marriage 0.03571046798871844
relief 0.07568653845020705
related 0.03297895846034851
community 0.025785593019571333
cuba 0.04191214237148263
increased 0.04013591155989306
term 0.08601050224836597
republican 0.06428161264467938
republicans 0.046002223945718804
senate 0.09190764690847711
victory 0.030611437909360658
iraq 0.15180855532927304
afghanistan 0.07971048613465608
reelected 0.032691380714824456
13th 0.04155223560328909
elementary 0.041602528924637824
columbia 0.029552554027124527
islamic 0.04038580396847466
illinois 0.06618483009121316
peace 0.03345999250554088
rights 0.02839326900909682
primary 0.060817475446988574
63 0.04341764575235663
clinton 0.03868780380436277
delegates 0.04981551682806423
filed 0.03984215522983335
barack 0.04234754735991505
obama 0.3650175898187781
attorney 0.03252893897573361
unsuccessfully 0.040703896038719864
supreme 0.03430602496301227
representatives 0.06621470115825652
included 0.02405025755442083
act 0.2490890416206761
treaty 0.048127741388636854
legislation 0.039699785233838006
promoted 0.03155027897657698
ii 0.030074842969882668
presidential 0.06553383490863172
americans 0.04021821930188391
representing 0.03166283527644951
control 0.1318571790693225
recovery 0.04259524228277913
resulted 0.03501544043324245
equality 0.04425096769055315
earning 0.0339092259163596
tax 0.03871000528335109
sought 0.03718760669840457
whether 0.04009511869259415
defeated 0.030766529498723667
reform 0.03555307207854681
raise 0.03961067460811536
constitutional 0.03859969715570185
sworn 0.041602528924637824
policies 0.03951020727394028
referred 0.03668742150630729
hussein 0.049707261027650385
process 0.033127314450510044
budget 0.03855605726827532
wall 0.0350548517848713
organizer 0.04536840011193823
response 0.11018747157297994
debate 0.040371683924716135
lgbt 0.0459707008255436
ordered 0.12237967144422175
initiatives 0.0411466419619593
bm 0.0571146501850359
nobel 0.04240393280166755
spending 0.036135580013903025
ask 0.04542634533461067
sufficient 0.05182421641031827
strike 0.042054281819511014
limit 0.04435000990802586
insurance 0.03905178766706948
nominee 0.07978930883791377
lengthy 0.04787533947639497
represent 0.036189617337025304
involvement 0.11018747157297994
2000in 0.05056331448649607
shooting 0.0396614556265558
debt 0.046162010306655184
regained 0.045939319382791055
levels 0.03942346877640728
consumer 0.040163239811057086
keynote 0.04489436539895879
address 0.040499804202992096
primaries 0.05345539922952326
honolulu 0.04800040000034542
44th 0.05624071615493585
hook 0.05087369266246481
receive 0.038032396718928885
taxpayer 0.058672718626657905
osama 0.05301051252299481
bin 0.046162010306655184
laden 0.053736606062068176
inaugurated 0.05074788098373346
patient 0.04632553907512221
urged 0.05020820274602382
californias 0.04830122507691852
proposition 0.055223303940976624
libya 0.05113232812875007
hillary 0.04884914208757114
unemployment 0.053274029051526436
recession 0.053274029051526436
withdrawal 0.05074788098373346
gun 0.043752863368463554
briefs 0.05886941781028262
repeal 0.05776464096246222
mccain 0.05413008251037212
mitt 0.05444046068634086
romney 0.05465531946214981
gains 0.05383291599257232
rodham 0.06042748625190464
affordable 0.04976117912769321
unconstitutional 0.054547063661735964
troop 0.05743208481361034
stimulus 0.060182466050107186
reinvestment 0.06526728888599023
reauthorization 0.06835232389482908
obamacare 0.06917472736440658
normalize 0.0760232295807462
brk 0.0760232295807462
husen 0.07885433263257774
laureateduring 0.07885433263257774
doddfrank 0.07401452999849217
2012obama 0.07885433263257774

In [125]:
tfidf_obama=pd.DataFrame({
    'word_obmam':word_O,
    'iftdf_obama':iftdf_O
})
tfidf_obama.sort_values(by='iftdf_obama', ascending=False)

         word_obmam  iftdf_obama
171           obama     0.365018
3               the     0.279323
177             act     0.249089
5                in     0.209673
155            iraq     0.151809
4               and     0.146739
137             law     0.144687
185         control     0.131857
11               of     0.126205
58               us     0.122834
208         ordered     0.122380
138        military     0.119498
105      democratic     0.114575
205        response     0.110187
221     involvement     0.110187
12               to     0.102342
6               his     0.096976
153          senate     0.091908
150            term     0.086011
106        campaign     0.084330
218         nominee     0.079789
156     afghanistan     0.079710
269       2012obama     0.078854
266           husen     0.078854
267  laureateduring     0.078854
98        president     0.078388
124        domestic     0.076558
265             brk     0.076023
264       normalize     0.076023
145          relief     0.075687
..              ...          ...
110            july     0.020547
46               or     0.020338
47            while     0.019805
82             2012     0.019507
67            began     0.019044
142           state     0.018915
52             into     0.018189
68              not     0.018070
35           worked     0.017832
79         received     0.017732
0              born     0.017710
117            made     0.017594
22             2008     0.017521
19           before     0.017433
59            three     0.017397
21             2007     0.017372
73             over     0.017370
18            other     0.017053
83             then     0.016973
10               at     0.016972
44              won     0.016643
36               on     0.016540
60              two     0.014655
43            where     0.014586
42            years     0.014490
1                is     0.014350
53              new     0.013177
48            which     0.012341
37             that     0.011600
13               by     0.009598

[270 rows x 2 columns]

## Is Obama closer to Clinton than to Beckham?

In [126]:
from sklearn.metrics.pairwise import cosine_distances

In [129]:
def norm(x):
    sum_sq=x.dot(x.T)
    norm=np.sqrt(sum_sq)
    return(norm)

In [145]:
import numpy as np
def cosine_distance(x, y):
    xy = x.dot(y.T)
    dist = xy/(norm(x)*norm(y))
    return 1-dist[0,0]

Biden_tf_idf = tfidf_matrix[24478,:]
Obama_tf_idf = tfidf_matrix[35817,:]


print ('================= Cosine distance from John')
print ('answer:cosine distance between the articles on ‘Joe Biden’ and ‘Barack Obama’',cosine_distance(Biden_tf_idf, Obama_tf_idf))

================= Cosine distance from John
answer:cosine distance between the articles on ‘Joe Biden’ and ‘Barack Obama’ 0.5707806801562201

# Build a nearest neighbor model for document retrieval

In [ ]:
# Approach 1 - using word count features

In [131]:
from sklearn.neighbors import NearestNeighbors
x = CountVectorizer().fit_transform(people['text'])

In [132]:
model_count = NearestNeighbors(metric='cosine')
model_count.fit(x)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=None, n_neighbors=5, p=2, radius=1.0)

In [137]:
distances, indices = model_count.kneighbors(x[35817], n_neighbors=2)

In [138]:
neighbors_obama = pd.DataFrame({'distance':distances[0].tolist(), 'id':indices[0].tolist()})

In [139]:
neighbors_obama

       distance     id
0  1.443290e-15  35817
1  1.224048e-01  24478

In [140]:
people.iloc[24478]['name']

'Joe Biden'

In [ ]:
# Approach 2 - using TF-IDF features

In [141]:
model_tf_idf = NearestNeighbors(metric='cosine')
model_tf_idf.fit(tfidf_matrix)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=None, n_neighbors=5, p=2, radius=1.0)

In [142]:
distances, indices = model_tf_idf.kneighbors(tfidf_matrix[35817,:], n_neighbors=2)

In [143]:
neighbors_Obama_tf = pd.DataFrame({'distance':distances[0].tolist(), 'id':indices[0].tolist()})
neighbors_Obama_tf

   distance     id
0  0.000000  35817
1  0.570781  24478